<ion-view title="ORIX India">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Date</div>
            <div class="item item-body">
                <ion-list>
                    <ion-list>
                        <ion-item ui-sref="details">Client Name</ion-item>
                        <ion-item ui-sref="details">Vendor Name</ion-item>
                        <ion-item ui-sref="details">Cab Id</ion-item>
                    </ion-list>
                    <ion-item ui-sref="details">Project Id</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Date</div>
            <div class="item item-body">
                <ion-list>
                    <ion-list>
                        <ion-item ui-sref="details">Client Name</ion-item>
                        <ion-item ui-sref="details">Vendor Name</ion-item>
                        <ion-item ui-sref="details">Cab Id</ion-item>
                    </ion-list>
                    <ion-item ui-sref="details">Project Id</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Date</div>
            <div class="item item-body">
                <ion-list>
                    <ion-list>
                        <ion-item ui-sref="details">Client Name</ion-item>
                        <ion-item ui-sref="details">Vendor Name</ion-item>
                        <ion-item ui-sref="details">Cab Id</ion-item>
                    </ion-list>
                    <ion-item ui-sref="details">Project Id</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Date/div>
            <div class="item item-body">
                <ion-list>
                    <ion-list>
                        <ion-item ui-sref="details">Client Name</ion-item>
                        <ion-item ui-sref="details">Vendor Name</ion-item>
                        <ion-item ui-sref="details">Cab Id</ion-item>
                    </ion-list>
                    <ion-item ui-sref="details">Project Id</ion-item>
                </ion-list>
            </div>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>