<ion-view title="Details">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="list card">
            <div class="item item-divider">Chart Item</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item>Client</ion-item>
                    <ion-item>Client Name</ion-item>
                    <ion-item>Vendor</ion-item>
                    <ion-item>Vendor Name</ion-item>
                    <ion-item>Project ID</ion-item>
                    <ion-item>Route ID</ion-item>
                    <ion-item>Cab ID</ion-item>
                    <ion-item>Date</ion-item>
                    <ion-item>From Location</ion-item>
                    <ion-item>To Location</ion-item>
                    <ion-item>From Time</ion-item>
                    <ion-item>To Time</ion-item>
                    <ion-item>From Km</ion-item>
                    <ion-item>To Km</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="button-bar">
            <a ui-sref="details" class="button button-dark button-block  icon ion-android-arrow-back"></a>
            <a ui-sref="chart" class="button button-dark button-block  icon ion-android-menu"></a>
            <a ui-sref="details" class="button button-dark button-block  icon ion-android-arrow-forward"></a>
        </div>
    </ion-content>
</ion-view>