<ion-view title="ORIX India">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <ion-list></ion-list>
        <div class="list card">
            <div class="item item-divider">Trip 1</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-divider">Start Time</ion-item>
                    <ion-item class="item-divider">End Time</ion-item>
                    <ion-item class="item-divider">Distance</ion-item>
                    <ion-item class="item-divider">Item</ion-item>
                    <ion-item class="item-divider">Date</ion-item>
                    <ion-item class="item-divider">Time</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Trip 2</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-divider">Start Time</ion-item>
                    <ion-item class="item-divider">End Time</ion-item>
                    <ion-item class="item-divider">Distance</ion-item>
                    <ion-item class="item-divider">Item</ion-item>
                    <ion-item class="item-divider">Date</ion-item>
                    <ion-item class="item-divider">Time</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Trip 3</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-divider">Start Time</ion-item>
                    <ion-item class="item-divider">End Time</ion-item>
                    <ion-item class="item-divider">Distance</ion-item>
                    <ion-item class="item-divider">Item</ion-item>
                    <ion-item class="item-divider">Date</ion-item>
                    <ion-item class="item-divider">Time</ion-item>
                </ion-list>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Trip 4</div>
            <div class="item item-body">
                <ion-list>
                    <ion-item class="item-divider">Start Time</ion-item>
                    <ion-item class="item-divider">End Time</ion-item>
                    <ion-item class="item-divider">Distance</ion-item>
                    <ion-item class="item-divider">Item</ion-item>
                    <ion-item class="item-divider">Date</ion-item>
                    <ion-item class="item-divider">Time</ion-item>
                </ion-list>
            </div>
        </div>
        <ion-list></ion-list>
    </ion-content>
</ion-view>