<ion-view title="ORIX India" ng-controller="mapCtrl" ng-init="initialize();">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--<div>
            <p class="text-center">
                <b>Go,Travel the World!</b>
            </p>
        </div>-->
        <div>
            <p class="text-center">
                
            </p>
        </div>
        <div class="rotate">
            <img src="img/orix.jpg">
        </div>
        <a ui-sref="login" class="button button-go button-block">Go</a>
        <!--<button class="button button-go button-block" ng-click="login">Go</button>-->
    </ion-content>
</ion-view>

<!--"centerOnMe(); ng-click=changeView('map')"-->