<ion-view title="ORIX India">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <!--<div>
            <p class="text-center">
                <b>Go,Travel the World!</b>
            </p>
        </div>-->
        <div>
            <p class="text-center">
                
            </p>
        </div>
        <div style="text-align:center;">
            <img src="img/orix.jpg" width="100%" height="100%">
        </div>
        <a ng-click="centerOnMe();" href="#/map" class="button button-go button-block ">Go</a>
    </ion-content>
</ion-view>