.bar-custom
{
	background-color:#cc9966!important;
	/*font-weight:bold;
	font-style:italic;*/
	font-family: 'Amaranth', sans-serif!important;
	/*color:white;*/
	
}

img
{
	height:100%;
	width:100%;
}

.rotate
{
	transform: translate3d(360deg,0deg,0deg);
}

#map
{
	height:90%;
	width:100%;
}

.scroll
{
	height:100%;
}

.button-go
{
	background-color:#cc9966;/*###006698b3e0ffffff1a#ff3385#ff0066:#BF3656;#cc0000#990000#cc0044#ff0055#ff0055 */
	font-family: 'Amaranth', sans-serif!important;
	border-radius: 5px;
	/*color:white;*/
}

.button-start
{
	background-color:#009900;
	border-radius: 10px;
	color: white;
}

.button-stop
{
	background-color:#ff0000;
	border-radius: 10px;
	color: white;
}

a:hover
{
	color: black!important;
	text-decoration: none;
}



